[submodule "stafftag"]
	path = stafftag
	url = https://github.com/DavidHiFi/StaffTag-UserPlugin.git
[submodule "fakevoice"]
	path = fakevoice
	url = https://github.com/DavidHiFi/FakeVoice-UserPlugin.git
[submodule "better-lyrics-sync"]
	path = better-lyrics-sync
	url = https://github.com/DavidHiFi/better-lyrics-sync.git
[submodule "custom-stream-quality"]
	path = custom-stream-quality
	url = https://github.com/DavidHiFi/CustomStreamQuality-UserPlugin.git
